<!doctype html>
<html lang="en" data-bs-theme="auto">
<div th:replace="shared/head :: head"></div>
<body>

<div th:replace="shared/nav :: nav"></div>

<main class="container">
    <div class="bg-body-tertiary p-5 rounded">
        <h1>Create a Service</h1>

        <div class="mb-3">
            <label for="descriptionInput" class="form-label">Description</label>
            <textarea class="form-control" id="descriptionInput" placeholder="Fuel Filter Change"></textarea>
        </div>

        <div class="mb-3">
            <label for="estimationInput" class="form-label">Estimation</label>
            <input type="number" class="form-control" id="estimationInput" placeholder="Enter Estimation">
        </div>

        <div class="mb-3">
            <label for="amountInput" class="form-label">Amount</label>
            <input type="number" class="form-control" id="amountInput" placeholder="Enter Amount">
        </div>

        <div class="mb-3">
            <label for="mechanicInput" class="form-label">Mechanic</label>
            <input type="text" class="form-control" id="mechanicInput" placeholder="Enter Mechanic Name">
        </div>

        <div class="mb-3">
            <label for="customerInput" class="form-label">Customer</label>
            <input type="text" class="form-control" id="customerInput" placeholder="Enter Customer Name">
        </div>

        <div class="mb-3">
            <label for="creationDateInput" class="form-label">Creation Date</label>
            <input type="date" class="form-control" id="creationDateInput">
        </div>

        <div class="mb-3">
            <label for="dueDateInput" class="form-label">Due Date</label>
            <input type="date" class="form-control" id="dueDateInput">
        </div>
    </div>
</main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</body>
</html>
