<!doctype html>
<html lang="en" data-bs-theme="auto">
<div th:replace="shared/head :: head"></div>
<body>

<div th:replace="shared/nav :: nav"></div>

<main class="container bg-body-tertiary p-6 rounded">
    <div class="row">
        <div class="col">
            <h1>Services</h1>
        </div>
        <div class="col align-item-center">
            <a class="btn btn-primary" href="#" th:href="@{/services/create}" role="button">Create a Service</a>
            <a class="btn btn-primary" href="#" th:href="@{/services/update}" role="button">Update a Service</a>
            <a class="btn btn-primary" href="#" th:href="@{/services/finish}" role="button">Finish a service</a>
        </div>
    </div>

    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Status</th>
                <th scope="col">Description</th>
                <th scope="col">Estimation</th>
                <th scope="col">Amount</th>
                <th scope="col">Mechanic</th>
                <th scope="col">Customer</th>
                <th scope="col">Creation Date</th>
                <th scope="col">Due Date</th>

            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>In Progress</td>
                <td>Oil Change</td>
                <td>1 Hour</td>
                <td>$50.000</td>
                <td>Tom Platz</td>
                <td>John Doe</td>
                <td>29-Aug-2024</td>
                <td>31-Aug-2024</td>

            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Pending</td>
                <td>Timing Belt Change</td>
                <td>4 Hours</td>
                <td>$150.000</td>
                <td>Rick Deckard</td>
                <td>Mark Otto</td>
                <td>29-Aug-2024</td>
                <td>29-Aug-2024</td>
            </tr>
            <tr th:each="value : ${values}">
                <td th:text="${value.id}"></td>
                <td th:text="${value.status()}"></td>
                <td th:text="${value.description()}"></td>
                <td th:text="${value.estimation()}"></td>
                <td th:text="${value.amount()}"></td>
                <td th:text="${value.mechanic_id}"></td>
                <td th:text="${value.customer_id}"></td>
                <td th:text="${value.dateCreated()}"></td>
                <td th:text="${value.dateUpdated()}"></td>

            </tbody>

        </table>
    </div>
</main>

<div th:replace="shared/scripts :: scripts"></div>

</body>
</html>
