<!doctype html>
<html lang="en" data-bs-theme="auto">
<div th:replace="shared/head :: head"></div>
<body>

<div th:replace="shared/nav :: nav"></div>

<main class="container bg-body-tertiary p-6 rounded">
    <div class="row">
        <div class="col">
            <h1>Services</h1>
        </div>
        <div class="col align-item-center">
            <a class="btn btn-primary" href="#" th:href="@{/services/create}" role="button">Create a Service</a>
            <a class="btn btn-primary" href="#" th:href="@{/services/update}" role="button">Update a Service</a>
        </div>
    </div>

    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Status</th>
                <th scope="col">Description</th>
                <th scope="col">Estimation</th>
                <th scope="col">Costs Amount</th>
                <th scope="col">Labor Amount</th>
                <th scope="col">Total Amount</th>
                <th scope="col">Mechanic</th>
                <th scope="col">Customer</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="value : ${values}">
                <td th:text="${value.id}"></td>
                <td th:text="${value.status}"></td>
                <td th:text="${value.description}"></td>
                <td th:text="${value.estimation}"></td>
                <td th:text="${value.amount.costsAmount}"></td>
                <td th:text="${value.amount.laborAmount}"></td>
                <td th:text="${value.amount.totalAmount}"></td>
                <td th:text="${value.mechanic.username}"></td>
                <td th:text="${value.customer.fullName}"></td>
            </tbody>
        </table>
    </div>
</main>

<div th:replace="shared/scripts :: scripts"></div>

</body>
</html>
