<!doctype html>
<html lang="en" data-bs-theme="auto">
<div th:replace="shared/head :: head"></div>
<body>

<div th:replace="shared/nav :: nav"></div>

<main class="container">
    <div class="bg-body-tertiary p-5 rounded">
        <h1>Add a Vehicle</h1>
        <form>
            <div class="mb-3">
                <label for="brandInput" class="form-label">Brand</label>
                <input type="text" class="form-control" id="brandInput" placeholder="Chevrolet">
            </div>
            <div class="mb-3">
                <label for="modelInput" class="form-label">Model</label>
                <input type="text" class="form-control" id="modelInput" placeholder="Corsa">
            </div>
            <button type="button" class="btn btn-primary" onclick="create()" th:href="@{/}">Add Vehicle</button>
        </form>
    </div>
</main>

<div th:replace="shared/scripts :: scripts"></div>

<script>
    function create() {
        const url = window.location.host.includes('localhost') ? `http://${window.location.host}/api/vehicles` : `https://${window.location.host}/api/vehicles`;
        const urlToRedirect = window.location.host.includes('localhost') ? `http://${window.location.host}/vehicles` : `https://${window.location.host}/vehicles`;
        const data = {
            id: uuidv4(),
            brand: document.getElementById("brandInput").value,
            model: document.getElementById("modelInput").value
        };

        axios({
            method: 'post',
            url: url,
            data: data
        })
            .then(data => window.location.replace(urlToRedirect))
            .catch(error => console.log(error));
    }
</script>

</body>
</html>
