<!doctype html>
<html lang="en" data-bs-theme="auto">
<div th:replace="shared/head :: head"></div>
<body>

<div th:replace="shared/nav :: nav"></div>

<main class="container bg-body-tertiary p-5 rounded">

    <div class="row">
        <div class="col">
            <h1>Users</h1>
        </div>
        <div class="col align-item-end">
            <a class="btn btn-primary" href="#" th:href="@{/users/create}" role="button">Create user</a>
        </div>
    </div>
    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Type</th>
                <th scope="col">Username</th>
                <th scope="col">Garage</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="value : ${values}">
                <td th:text="${value.id}"></td>
                <td th:text="${value.type}"></td>
                <td th:text="${value.username}"></td>
                <div th:switch="${value.type}">
                    <td th:case="'ADMIN'" th:text="'N/A'"></td>
                    <td th:case="*" th:text="${value.garage.name}"></td>

                </div>
            </tr>

            </tbody>
        </table>
    </div>
</main>

<div th:replace="shared/scripts :: scripts"></div>

</body>
</html>
